.App {
  /* text-align: center; */
}

body {
  font-family: 'Raleway', 'Montserrat', sans-serif;
  line-height: 1.4;

  /* ---------- CENTERING MANIPULATION ---------- */
  /* height: 100%; */
  /* display: flex; */

  /* Centers Canvas Horizontally */
  /* justify-content: center; */

  /* Centers Canvas Vertically. */
  /* align-items: center; */
  /* -------------------------------------------- */
}

/* ---------- COLOUR THEME ---------- */
.primaryCol {
  color: #00ccff;
}

.primaryColBackground {
  background: #00ccff;
}

.secondaryCol {
  color: #ccf5ff;
}

.secondaryColBackground {
  background: #ccf5ff;
}

.tertiaryCol {
  color: #8041ec;
}

.tertiaryColBackground {
  background: #673ab7;
}
/* -------------------------------- */


/* ---------- CARDS ---------- */
.cardRoot {
  /* max-width: 1000px; */
  /* margin-left: 13%; */
  /* margin-top: 3%; */
  /* width: 85%; */
  min-width: 375px;
  width: 70%;
}
/* --------------------------- */

/* ---------- SEARCH BAR ---------- */
.Navigation-search-10 {
  width: 100%;
}

.MuiAutocomplete-hasPopupIcon .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"], .MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"] {
  /* max-width: 900px;
  min-width: 300px; */
  width: 1250px;
}

@media screen and (device-width: 375px) {
  .MuiAutocomplete-hasPopupIcon .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"], .MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"] {
    /* max-width: 900px; */
    /* min-width: 300px; */
    width: 100%;
  }
}
/* -------------------------------- */